@model Licitacoes.Core.Models.Licitacoes

<div class="grid grid-cols-2 gap-x-8 gap-y-6 flex-1 w-full">
    <div class="sm:col-span-2">
        <label asp-for="LicitacaoNumber" class="block text-sm font-semibold leading-6 text-gray-900"></label>
        <div class="mt-2.5">
            <input type="tel" asp-for="LicitacaoNumber" autocomplete="given-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
    </div>
    <div class="sm:col-span-2">
        <label asp-for="Description" class="block text-sm font-semibold leading-6 text-gray-900"></label>
        <div class="mt-2.5">
            <textarea type="text" asp-for="Description" autocomplete="organization" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"> </textarea>
        </div>
    </div>
    <div>
        <label asp-for="DataOpening" class="block text-sm font-semibold leading-6 text-gray-900"></label>
        <div class="mt-2.5">
            <input type="date" asp-for="DataOpening" autocomplete="email" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
    </div>
    <div>
        <label asp-for="Status" class="block text-sm font-semibold leading-6 text-gray-900"></label>
        <select asp-for="Status" class="h-full rounded-md border-0 bg-transparent bg-none py-0 pl-4 pr-9 text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
            <option>Confirmada</option>
            <option>Cancelada</option>
            <option>Em andamento</option>
        </select>
    </div>
</div>