@model Licitacoes.Core.Models.Licitacoes

@{
    ViewData["Title"] = "Criar Licitação";
}
<div class="flex flex-wrap -mx-3 mb-5">
    <div class="w-full max-w-full px-3 mb-6  mx-auto">
        <div class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] bg-white m-5">
            <div class="relative flex flex-col items-center min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-light/30">
                <div class="mx-auto max-w-2xl mt-2">
                    <h2 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Incluir Licitação</h2>
                </div>
                <form action="#" method="POST" class="mt-8 px-10 py-4 w-full sm:mt-8 flex flex-col items-center">
                    <partial name="_LicitacaoForm" />
                    <input type="submit" value="Criar" class="text-center w-48 mt-10 rounded-md bg-indigo-600 px-3.5 py-4 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
